/target/
/sql/
/sql
/sql*/
/sql*
**/_*/
**/_*
/dependency-reduced-pom.xml
/doc/pages/
/doc/cases/
/doc/pdf/fks*.pdf
/doc/pdf/schema*.pdf
/doc/pdf/tables*.pdf
/doc/pdf/uml*
/dependency-reduced-pom.xml
